div.content > div.boxShadow {
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 80px;
}

div.content > div.boxShadow div.button {
    text-align: center;
    padding: 10px 0 15px;
}

#viewDiv {
    display: none;
    overflow: hidden;
}

#mainForm {
    padding: 10px;
}

#viewDiv div.button {
    background-color: #EDEDED;
    border: 1px solid #CCCCCC;
}
