div.content {
    margin-top: 37px;
}

div.content div.left, div.content div.right {
    float: left;
    margin-bottom: 40px;
}

div.content div.left {
    padding-top: 8px;
    width: 120px;
    height: 100px;
    margin-right: 10px;
}

div.content div.left > div {
    text-align: center;
    padding: 10px 0;
}

div.content div.left > div.split {
    width: 100px;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid #DCE7EC;
}

div.content div.left > div.split > div.boldSplit {
    width: 78px;
    top: -2px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #99A9B3;
}

div.content div.left div.user {
    color: #800000;
    font-size: 12pt;
    font-weight: bold;
}

div.content div.left div.user a {
    font-size: 9pt;
    font-weight: normal;
}

div.content div.left div.activeGroup {
    font-size: 10pt;
}

div.content div.left div.activeGroup > div {
    padding: 1px 0;
}

div.content div.left div.commodity,
div.content div.left div.log,
div.content div.left div.linkGroup > div {
    font-size: 9pt;
}

div.content div.left div.log > div {
    padding: 2px 0;
}

div.content div.left div.linkGroup > div {
    padding: 4px 0;
}

div.content div.right {
    width: 820px;
}

div.content div.right > div {
    background-color: #ffffff;
    float: left;
    margin: 0 5px 10px 0;
}

div.content div.right div.active {
    border: 4px solid #05FF0D;
}

div.content div.left span.active {
    background-color: #05FF0D;
}

div.content div.right div.inactive {
    border: 4px solid #A53614;
}

div.content div.left span.inactive {
    background-color: #A53614;
}

div.content div.right div.image img {
    height: 192px;
    width: 192px;
}

div.content div.right div.image:last-child img {
    height: 260px;
}

div.content div.right div.description {
    width: 190px;
    padding: 10px 8px;
    height: 70px;
}

div.content div.right div.description a {
    font-size: 10pt;
    color: #7F4B2F;
}
