div.content > div:first-child {
    padding: 50px;
    background-color: #ffffff;
    overflow: hidden;
}

div.content table {
    float: left;
}

div.content form {
    float: right;
    background-color: #D3E6E2;
    overflow: hidden;
    font-size: 11pt;
}

div.content form > div {
    margin: 20px;
}
