div.content > div:first-child {
    padding: 50px;
    background-color: #ffffff;
    overflow: hidden;
}

div.content table {
    margin-bottom: 20px;
}

div.content table col.index {
    width: 40px;
}

div.content table col.name,
div.content table col.firstLetter,
div.content table col.parent {
    width: 50px;
}

div.content table col.slogan {
    width: 270px;
}

div.content form {
    padding: 5px;
    background-color: #D3E6E2;
    overflow: hidden;
    font-size: 11pt;
}

div.content form div label {
    margin-right: 10px;
}

div.content form div.basic input {
    width: 150px;
    margin-right: 50px;
}

div.content form div.logo input[type="file"] {
    display: inline;
}

div.content form div.button {
    text-align: center;
}

div.content form div.button button {
    margin: 0 20px;
}

div.content form div.slogan textarea {
    font-size: 9pt;
}

div.content form div.shoppe {
    overflow: hidden;
}

div.content form div.shoppe > div {
    float: left;
}

div.content form > div {
    padding: 10px;
}

div.content form > div * {
    vertical-align: middle;
}
