fieldset {
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #555555;
}

div.uploadImage {
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}

div.uploadImage input[type=text] {
    width: 250px;
}

div.uploadImage textarea {
    font-size: 9pt;
}

#adminPaginationConfig input {
    width: 40px;
}

#adminPaginationConfig div {
    padding-left: 10px;
    float: left;
    width: 300px;
}
